@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Almarai", "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
  /* Round the scrollbar edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #57361e;
  border-radius: 50px;
  /* Ensure the thumb is rounded */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
  /* Round the track edges */
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #57361e transparent;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}